{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{# if content #}
  <!--<div{# attributes.addClass(classes) #}>
    {# content #}
  </div>-->
{# endif #}

<div class="grid-container usa-footer__return-to-top">
  <a href="#main-content"><i class="fas fa-chevron-circle-up"></i> Return to top</a>
</div>

<div class="usa-footer__primary-section">
  <div class="grid-container">
    <nav class="grid-row grid-gap">
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-outlooks-menu') }}</div>
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-climate-phenom-menu') }}</div>
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-observations-menu') }}</div>
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-international-menu') }}</div>
    </nav>
    <nav class="grid-row grid-gap">
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-data-menu') }}</div>
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-knowledge-menu') }}</div>
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-about-us-menu') }}</div>
      <div class="tablet:grid-col-3">{{ drupal_menu('footer-climate-news-menu') }}</div>
    </nav>
  </div>
</div>
