{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{{ attach_library('interactive_outlooks/selector') }}
{# if content #}
<div class="grid-row" style="position:relative;">

  <div class="tablet:grid-col-5">
    <div class="outlooks-selector-container">
      <form class="usa-form" id="outlooks-selector">
        <label class="usa-label" for="outlook-options">Select an Outlook</label>
        <select class="usa-select" name="outlook-options" id="outlook-options">
          <option value>- Select an Outlook -</option>
          <option value="temp">U.S. Temperature Outlook</option>
          <option value="precip">U.S. Precipitation Outlook</option>
          <option value="hazards">U.S. Hazards Outlook</option>
          <option value="drought">U.S. Drought Outlook</option>
          <option value="global-tropics">U.S. Global Tropics Hazards Oulook</option>
          <option value="week34">U.S. Week 3 - 4 Outlook</option>
        </select>
        <input class="usa-button" type="submit" value="Select">
      </form>
    </div>
  </div>
</div>

<div class="grid-row outlooks" style="clear:both;min-height:650px;">

  <div class="tablet:grid-col-12 temp">
    {{ drupal_block('interactive_temp_outlooks') }}
  </div><!-- end .temp -->
  <div class="tablet:grid-col-12 precip">
    {{ drupal_block('interactive_precip_outlooks') }}
  </div><!-- end .precip -->
  <div class="tablet:grid-col-12 hazards">
    {{ drupal_block('interactive_hazards_outlooks') }}
  </div><!-- end .hazard -->
  <div class="tablet:grid-col-12 drought">
    {{ drupal_block('interactive_drought_outlooks') }}
  </div><!-- end .drought -->
   <div class="tablet:grid-col-12 global-tropics">
    {{ drupal_block('interactive_global_tropics_outlooks') }}
  </div><!-- end .drought -->
   <div class="tablet:grid-col-12 week34">
    {{ drupal_block('interactive_week34_outlooks') }}
  </div><!-- end .drought -->

</div><!-- end outer .grid-row .outlooks -->
{# endif #}
